.project-orders-table thead tr, .project-orders-table tbody tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-orders-table td, .project-orders-table th {
    width: 25%;
    text-align: center;
}

.custom-thead tr th {
    background-color: #28587E !important;
    color: white;
    font-weight: 800 !important;
}

.custom-popover {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.custom-popover .popover-body {
    padding: 0;
}

.custom-popover .popover-header {
    background-color: #27587E;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-popover .popover-content {
    padding: 10px;
}

.custom-popover .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.popover-body {
    width: 100px;
}

.custom-popover .popover-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popover .close-btn {
    cursor: pointer;
    border: none;
    background: transparent;
}

.popover-contentBody {
    overflow-y: auto;
}

.popover-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
