.project-orders-table thead tr, .project-orders-table tbody tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-orders-table td, .project-orders-table th {
    width: 25%;
    text-align: center;
}

.custom-thead tr th {
    background-color: #28587E !important;
    color: white;
    font-weight: 800 !important;
}

.custom-popover {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-left: 35px;
    top: 16px !important;
}

.custom-popover .popover-body {
    padding: 0;
}

.custom-popover .popover-header {
    background-color: #27587E;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.custom-popover .popover-content {
    padding: 10px;
}

.popover-body {
    width: 100px;
}

.custom-popover .popover-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popover-content {
    word-break: break-word;
    text-align: center;
}

.popover-contentBody {
    color: #00000080;
}


.feedback-icon {
    cursor: pointer;
}

.pagination .page-item .page-link {
    background-color: #27587E;
    border-color: #27587E;
    font-weight: 600;
    color: white;
}

.pagination .page-item.active .page-link, .pagination .page-item:hover .page-link, .pagination .page-item:focus .page-link, .pagination .page-item:active .page-link {
    background-color: white;
    border-color: white;
    color: black;
}