tbody {
    background-color: black;
}

.table-custom {
    width: 100%;
    border-collapse: collapse;
}
.table-custom th, .table-custom td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
}
.table-custom th {
    width: 180px;
    background-color: #27587E;
    color: white;
    text-align: center;
    font-weight: 800;
}
.table-custom td {
    background-color: #f8f9fa;
}

.table-custom tr:first-child {
    height: 80px;
}

.table-custom:first-of-type tr:first-child td:last-of-type {
    width: 40vw;
}

.table-custom tr:last-child {
    height: 100px;
}

.header-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 800;
}
.header-right {
    text-align: right;
    margin-bottom: 20px;
}

.header-right span {
    font-weight: 800;
    cursor: pointer;
}

.highlight {
    background-color: #27587E;
    color: black;
    text-align: center;
    width: 50vw;
}

.one-table tr:last-child td a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.attachment-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
}
.card a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.card a:hover {
    text-decoration: underline;
}

.card i {
    margin-right: 10px;
}

.btn-search {
    background-color: #27587E;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn-submit {
    background-color: #27587E;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

.btn-modify {
    background-color: #27587E;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

.submit-button-container {
    text-align: right;
}

#submitted-files td {
    text-align: center;
}

.file-input-container {
    text-align: right;
    margin: 20px 0;
}

.file-input {
    display: none;
}

.file-input-label {
    background-color: #27587E;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 0;
}

.two-table tbody tr td:last-of-type {
    width: 100px !important;
}


/* alert 창 */
.task__icon {
    border-color: #28587E !important;
    color: #28587E !important;
}

.task__icon {
    border-color: #28587E !important;
    color: #28587E !important;
}
.task__icon .swal2-x-mark-line-left,
.task__icon .swal2-x-mark-line-right {
    background-color: #28587E !important;
}

.task__title {
    font-weight: 800 !important;
}

.task__text {
    font-weight: 600 !important;
}

.task__confirm-button {
    background-color: #28587E;
    padding: 10px 30px;
}