<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/student/student_layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/student/lecture/lectureApplication.css}"/>
    <script th:inline="javascript">
        const studentNumber = [[${studentNumber}]];
    </script>
    <script th:src="@{/js/registration/registration.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <h4>수강 신청</h4>
    <div class="mt-4" id="dropDownContainer">
        <form id="search-form" class="d-flex justify-content-center mb-3">
            <select id="subjectNameDropDown" class="form-select form-select-sm" aria-label="Small select example" style="width: 110px; font-weight: 800; text-align: center; margin-right: 5px">
                <option value="">전체</option>
                <option value="국어">국어</option>
                <option value="영어">영어</option>
                <option value="수학">수학</option>
            </select>
        </form>
    </div>
    <div class="course-card"></div>
    <div class="btn-container">
        <button type="submit" class="btn">수강 신청</button>
    </div>

    <div class="d-flex justify-content-center" style="margin-top: 30px">
        <nav aria-label="Page navigation">
            <ul id="pagination" class="pagination"></ul>
        </nav>
    </div>
</div>
</body>
</html>
