<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.son.app.exam.mapper.InstructorExamMapper">
	<select id="selectExamAll" resultType="ExamVO">
		SELECT test_number,
			   examination_date,
			   limit_time,
			   exam_date,
			   paper_number,
			   lecture_number,
			   test_title
		FROM (
			SELECT ROW_NUMBER() OVER (ORDER BY test_number) AS rn,
				   test_number,
				   examination_date,
				   limit_time,
				   exam_date,
				   paper_number,
				   lecture_number,
				   test_title
			FROM test
			WHERE lecture_number = #{lectureNumber}
		) t
		WHERE rn BETWEEN #{start} AND #{end}
	</select>
	
	<select id="countExams" resultType="int">
		SELECT COUNT(*)
		FROM test
		WHERE lecture_number = #{lectureNumber}
	</select>
	
	<select id="selectQuestionsBySubject" resultType="QuestionVO">
    SELECT q.question_number,
           q.question_type_code,
           q.text,
           subject_name(q.subject_code) AS subject_name,
           detail_subject_name(q.detail_subject_code) AS detail_subject_name,
           q.difficulty_code,
           q.answer,
           q.option1,
           q.option2,
           q.option3,
           q.option4,
           q.option5,
           q.instructor_number,
           i.name AS instructor_name,
           q.explanation
    FROM question q
    JOIN instructor i ON q.instructor_number = i.instructor_number
    WHERE q.subject_code = #{subjectCode}
    ORDER BY q.question_number
	</select>

	<select id="selectRandomQuestionsBySubjectAndDifficulty" resultType="QuestionVO">
	    SELECT * FROM (
	        SELECT q.question_number,
	               q.question_type_code,
	               q.text,
	               subject_name(q.subject_code) AS subject_name,
	               detail_subject_name(q.detail_subject_code) AS detail_subject_name,
	               q.difficulty_code,
	               q.answer,
	               q.option1,
	               q.option2,
	               q.option3,
	               q.option4,
	               q.option5,
	               q.instructor_number,
	               i.name AS instructor_name,
	               q.explanation
	        FROM question q
	        JOIN instructor i ON q.instructor_number = i.instructor_number
	        WHERE q.subject_code = #{subjectCode}
	          AND q.difficulty_code = #{difficulty}
	        ORDER BY DBMS_RANDOM.VALUE
	    )
	    <![CDATA[
	    WHERE ROWNUM <= #{count}
	    ]]> 
	</select>
	
	

</mapper>