<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/parent_layout}"
      layout:fragment="Content">
<head>
    <link rel="stylesheet" th:href="@{/css/student/exam/examList.css}">
    <link rel="stylesheet" th:href="@{/css/student/exam/modalAndSwiper.css}">
</head>
<body>
    <div layout:fragment="content">
        <div id="examListHeader">
            <h4>시험</h4>
        </div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="table-responsive pt-2"
						style="padding-top: 0 !important;">
						<table class="table table-striped project-orders-table">
							<thead class="custom-thead">
								<tr>
									<th>번호</th>
									<th>시험명</th>
									<th>응시일</th>
									<th>점수</th>
									<th>결과확인</th>
									<th>응시 여부</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="examInfo : ${exam}">
									<td th:text="${examInfoStat.index + 1}"></td>
									<td th:text="${examInfo.testTitle}"></td>
									<td th:text="${examInfo.examDate}"></td>
									<td th:text="${examInfo.totalScore == null ? 'X' :
										examInfo.totalScore}"></td>
									<td><button class="btn btn-link btn-sm" th:onclick="|location.href='@{/parent/{studentNumber}/{lectureNumber}/exam/{testNumber}/result(studentNumber=${studentNumber}, lectureNumber=${lectureNumber}, testNumber=${examInfo.testNumber}, participateNumber=${examInfo.participateNumber})}'|">확인</button></td>
									<td><span th:text="${examInfo.participateStatus}"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center" style="margin-top: 30px;">
            <nav aria-label="Page navigation">
                <ul id="pagination" class="pagination"></ul>
            </nav>
        </div>
        <div class="mt-4">
            <form id="search-form" class="d-flex justify-content-center mb-3">
                <select id="examListDropDown" class="form-select form-select-sm" aria-label="Small select example" style="width: 110px; font-weight: 800; text-align: center; margin-right: 5px;">
                    <option value="">전체</option>
                    <option value="응시 완료">응시 완료</option>
                    <option value="미응시">미응시</option>
                </select>
                <input type="text" id="search-title" placeholder="제목을 입력하세요." class="form-control me-2 col-3">
                <button type="submit" class="btn btn-primary" style="background-color: #28587E;">검색</button>
            </form>
        </div>
    </div>
</body>
</html>
