<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Join</title>

<link rel="stylesheet" th:href="@{/css/security/join.css}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/lms/js/security/join.js"></script>
</head>
<body>
<form id="signUpForm" method="post" th:action="@{/signUp}">
    <table>
    <tr>
        <td><h2>회원가입</h2></td>
    </tr>
    <tr><td>아이디(이메일)</td></tr>
    <tr>
        <td>
			<input type="text" id="email_id" class="text" title="이메일 아이디" placeholder="이메일" maxlength="18" /> @ 
			<input type="text" id="email_domain" class="text" title="이메일 도메인" placeholder="이메일 도메인" maxlength="18"/> 
			<select class="select" title="이메일 도메인 주소 선택" onchange="setEmailDomain(this.value)">
			    <option value="">-직접입력-</option>
			    <option value="naver.com">naver.com</option>
			    <option value="gmail.com">gmail.com</option>
			    <option value="hanmail.net">hanmail.net</option>
			    <option value="hotmail.com">hotmail.com</option>
			    <option value="korea.com">korea.com</option>
			    <option value="nate.com">nate.com</option>
			    <option value="yahoo.com">yahoo.com</option>
			</select>
			<input type="button" value="인증" class="btn2" onclick="checkEmail()">
			<input type="hidden" id="mailConfirm" style="display:none">
        </td>
    </tr>
    
    <tr id="mail_number" name="mail_number" style="display: none">
    	<td>
    		<input type="text" id="emailCertNumber" placeholder="인증번호 입력" class="text">
    		<input type="button" value="확인" class="btn2" onclick="certMail()">
    	</td>
    </tr>
    <tr><td>비밀번호</td></tr>
    <tr><td><input type="password" class="text"></td></tr>
    <tr><td>비밀번호 확인</td></tr>
    <tr><td><input type="password" class="text"></td></tr>
    <tr><td>이름</td></tr>
    <tr><td><input type="text" class="text"></td></tr>
    <tr><td>휴대폰번호</td></tr>
    <tr>
    	<td>
    		<input type="text" id="phone" class="text">
			<input type="button" value="인증" class="btn2" onclick="checkPhone()">
			<input type="hidden" id="phoneConfirm" style="display:none">
		</td>
    </tr>
    <tr id="phone_number" style="display: none">
    	<td>
    		<input type="text" id="phoneCertNumber" placeholder="인증번호 입력" class="text">
    		<input type="button" value="확인" class="btn2" onclick="certPhone()">
    	</td>
    </tr>
    <tr><td>생년월일</td></tr>
    <tr><td><input type="date" class="text"></td></tr>
    
    <tr><td><input type="submit" value="가입하기" class="btn"></td></tr>
    </table>
</form>
</body>
</html>