<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/main/main_layout}">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:inline="javascript">
	const msg = [[ ${error} ]];
	if(msg){
		//Swal.fire(msg);
		alert(msg);
	}
</script>
<link rel="stylesheet" th:href="@{/css/security/main.css}"/>
<title>로그인</title>
</head>

<body>
	<div layout:fragment="content" style="margin-top:50px;">
		<form method="post" th:action="@{/loginProcess}">
		    <table>
		    <tr>
		        <td><h2>로그인</h2></td>
		    </tr>
		    <tr>
		        <td><input type="text" placeholder="ID" name="username"></td>
		    </tr>
		    <tr>
		        <td><input type="password" placeholder=Password name="password"></td>
		    </tr>
		    <tr>
		    	<td><input type="checkbox" id="rememberme" name="remember"><label for="rememberme">자동 로그인</label></td>
		    </tr>
		    <tr>
		        <td><input type="submit" value="Sign in" class="btn"></td>
		    </tr>
		    <tr>
		        <td class="join"><a href="/lms/join" style="font-size:15px; margin-right:0;">회원가입</a></td>
		    </tr>
		    </table>
		</form>
	</div>
</body>
</html>