<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/instructorDetailSubject_layout}"
	layout:fragment="content">
<head>

<title>과제 상세 조회</title>

<!-- Include ConfigFragment -->
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<style>
	
</style>
</head>

<body>
			
			
	<div id="container" class="mt-5" style="width: 896px; margin: 0 auto;">
    <div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg overflow-hidden">
        <div class="grid grid-cols-4 gap-4 p-6 border-b">
            <div class="col-span-1 font-bold">제목</div>
            <div class="col-span-3 border-gray-300" th:text="${question.title}"></div>
        </div>
        <div class="grid grid-cols-4 gap-4 p-6 border-b">
            <div class="col-span-1 font-bold">작성일자</div>
            <div class="col-span-1  border-gray-300" th:text="${#dates.format(question.writeDate, 'yyyy-MM-dd')}"></div>
        </div>
        <div class="grid grid-cols-4 gap-4 p-6">
            <div class="col-span-1 font-bold mb-2">질문 내용</div>
            <div class="col-span-1  border-gray-300" th:text="${question.content}">
			</div>
        </div>
        <div class="grid grid-cols-4 gap-4 p-6">
            <div class="col-span-1 font-bold mb-2">답변 내용</div>
            <div class="col-span-3">
            	<textarea class="w-full h-24 px-3 py-2 bg-transparent placeholder-gray-500 focus:outline-none" placeholder="답변을 입력해주세요" id="response"></textarea>
			</div>
        </div>
    </div>
        <div class="btn-group float-end" role="group">
			<button type="button" class="btn btn-secondary mt-3" th:onclick="|location.href='@{/instructor/{lectureNumber}/qnaList(lectureNumber=${question.lectureNumber})}'|">목록</button>
			<button type="button" class="btn btn-secondary mt-3" id="replyBtn">저장</button>
		</div>
  	</div>
  	
</body>
  	<script>
  		$('#replyBtn').on('click', ()=>{
  			var replyContent = $('#response').val();
  			$.ajax({
  				type:'POST',
  				url:'/lms/instructor/updateQna',
  				data:{replyContent},
                success: function(response) {
                	if(response > 0){
                		location.href="counselInfo?counselNumber="+ response
                	}else{
                		alert('저장에 실패했습니다!');
                	}
                },
                error: function(error) {
                    console.error('Error:', error);
                }
  			})
  		})
  	</script>

</html>

