<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/instructorDetailSubject_layout}"
	layout:fragment="content">
<head>

<title>학부모 QnA</title>

</head>

<body>
<h4 style="font-weight: 800; text-align: center; margin-bottom: 30px; margin-top: 30px">학부모 QnA</h4>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="table-responsive pt-3">
					<table class="table table-hover text-center project-orders-table">
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성일</th>
								<th>학부모 이름</th>
								<th>학생 이름</th>
								<th>답변 상태</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							<th:block th:each="question : ${qnaList}">
								<tr th:onclick="|location.href='@{/instructor/{lectureNumber}/qnaInfo(counselNumber=${question.counselNumber}, lectureNumber=${lectureNumber})}'|">
									<td th:text="${question.counselNumber}"></td>
									<td th:text="${question.title}"></td>
									<td th:text="${#dates.format(question.writeDate, 'yyyy-MM-dd')}"></td>
									<td th:text="${question.parentName}"></td>
									<td th:text="${question.studentName}"></td>
									<td th:text="${question.responseStatus == 0 ? '답변 대기중' : '답변 완료'}"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="pagination-container">
		    <ul class="pagination d-flex justify-content-center">
		        <li th:if="${pageVO.prev}" class="page-item">
		            <a th:href="@{/instructor/{lectureNumber}/qnaList(lectureNumber=${lectureNumber}, page=${pageVO.startPage - 1})}"
		               class="page-link">&laquo;</a>
		        </li>
		        <li th:each="pageNum : ${#numbers.sequence(pageVO.startPage, pageVO.endPage)}"
		            th:class="${pageNum == pageVO.page} ? 'page-item active' : 'page-item'">
		            <a th:href="@{/instructor/{lectureNumber}/qnaList(lectureNumber=${lectureNumber}, page=${pageNum})}"
		               th:text="${pageNum}" class="page-link"></a>
		        </li>
		        <li th:if="${pageVO.next}" class="page-item">
		            <a th:href="@{/instructor/{lectureNumber}/qnaList(lectureNumber=${lectureNumber}, page=${pageVO.endPage + 1})}"
		               class="page-link">&raquo;</a>
		        </li>
		    </ul>
		</div>
	</div>
</body>

</html>

