<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/instructorDetailSubject_layout}"
	layout:fragment="content">
<head>

<link th:href="@{/css/instructor/task/taskinfo.css}" rel="stylesheet">

<title>제출된 과제 상세 보기</title>

</head>

<body>
	<table class="table-custom">
		<tr>
			<th rowspan="2">제목</th>
			<td rowspan="2" class="highlight" th:text="${submittedInfo.title}"></td>
			<th>게시일자</th>
			<td th:text="${#dates.format(submittedInfo.postDate, 'yyyy년 MM월 dd일')}"></td>
		</tr>
		<tr>
			<th>제출기한</th>
			<td th:text="${#dates.format(submittedInfo.submitDeadline, 'yyyy년 MM월 dd일')}"></td>
		</tr>
		<tr>
			<th>피드백 내용</th>
			<td colspan="3" th:text="${submittedInfo.feedback}"></td>
		</tr>
		<tr>
			<th>과제 파일</th>
			<td colspan="3">
				<div class="attachment-cards">
					<th:block th:each="files : ${submittedInfo.fileList}">
						<div class="card" th:if="${files.isDeleted} == false">
							<a th:href="@{/instructor/{lectureNumber}/task/{taskNumber}/submittedInfo/download(
							    lectureNumber=${lectureNumber},
							    taskNumber=${taskNumber},
							    taskSubmitNumber=${taskSubmitNumber},
							    originalFileName=${files.originalFileName},
							    filePath=${files.filePath})}">
							    <span class="icons"><i class="fas fa-folder-open"></i></span><span th:text="${files.originalFileName}"></span>
							</a>
						</div>
					</th:block>
				</div>
			</td>
		</tr>
	</table>
	<button type="button" class="btn btn-secondary mt-3 float-end" th:onclick="|location.href='@{/instructor/{lectureNumber}/task/{taskNumber}/submittedStudents(lectureNumber=${lectureNumber},taskNumber=${taskNumber})}'|">목록</button>
</body>

</html>

