<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/instructor_layout}"
	layout:fragment="content">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>과제 수정</title>

<!-- Include ConfigFragment -->
<script src="https://cdn.tailwindcss.com"></script>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
	rel="stylesheet">
<style>
#taskInfoBody {
	font-family: 'Roboto', sans-serif;
}
</style>
</head>

<body id="taskInfoBody">
	<div id="container" style="width: 878px; margin: 0 auto;">
		<form name="updateForm" th:object="${taskInfo}"
			enctype="multipart/form-data">
			<div
				class="max-w-4xl mx-auto bg-white shadow-md rounded-lg overflow-hidden">
				<div class="grid grid-cols-4 gap-4 p-6 border-b">
					<input type="hidden" id="taskNumber" th:field="*{taskNumber}" />
					<input type="hidden" id="lectureNumber" th:field="*{lectureNumber}">
					<div class="col-span-1 font-bold">제목</div>
					<div class="col-span-3 border-gray-300">
						<input type="text" class="form-control" th:field="*{title}" />
					</div>
				</div>
				<div class="grid grid-cols-4 gap-4 p-6 border-b">
					<div class="col-span-1 font-bold">게시일자</div>
					<div class="col-span-1  border-gray-300">[[*{#dates.format(postDate,
						'yyyy년 MM월 dd일')}]]</div>
					<div class="col-span-1 font-bold">제출기한</div>
					<div class="col-span-1  border-gray-300">
						<input type="text" class="form-control"
							th:field="*{submitDeadline}" placeholder="yyyy/MM/dd" />
					</div>
				</div>
				<div class="grid grid-cols-4 p-6 border-b">
					<div class="col-span-1 font-bold mb-2">내용</div>
					<div class="col-span-1  border-gray-300">
						<textarea class="form-control" th:field="*{description}"
							style="resize: none; width: 45em; height: 12.25em;"></textarea>
					</div>
				</div>
				<div class="grid grid-cols-4 p-6 border-b" id="file_list">
					<div class="col-span-1 font-bold mb-2">첨부 파일</div>
					<div class="col-span-3 file_input" id="file_input">
						<th:block th:each="file : ${taskInfo.fileList}">
							<div th:if="${file.isDeleted} == false" class="file-item d-flex justify-content">
								<input type="text" readonly class="form-control col-8 mb-1"
									th:value="${file.originalFileName}" />
								<div>
									<button type="button" class="btn btn-danger btn-sm mt-2"
										th:onclick="'removeFile(this, ' + ${file.attachmentFileNumber} + ')'">x</button>
								</div>
							</div>
						</th:block>
						<div id="new-file-inputs">
							<!-- 새 파일 입력 필드가 여기에 추가됩니다 -->
						</div>
						<button type="button" onclick="addFile()" class="btn btn-info">
							<span>파일 추가</span>
						</button>
					</div>
				</div>
			</div>
			<div class="btn-group float-end" role="group">
				<button type="button" id="updateBtn" class="btn btn-success mt-3">수정</button>
				<button type="button" class="btn btn-danger mt-3"
					th:onclick="|location.href='@{/instructor/{lectureNumber}/taskInfo(taskNumber=${taskInfo.taskNumber}, lectureNumber=${lectureNumber})}'|">취소</button>
			</div>
		</form>
	</div>
	<script>
	/*<![CDATA[*/
	document.getElementById('updateBtn').addEventListener('click', taskUpdateAjax);
	const lectureNumber = document.getElementById('lectureNumber').value;
	const taskNumber = document.getElementById('taskNumber').value;
	
	function taskUpdateAjax(event) {
	    event.preventDefault();
	    let form = document.forms.updateForm;
	    let formData = new FormData(form);

	    // 삭제할 파일 ID 추가
	    formData.append('removeFileIdsStr', JSON.stringify(removeFileId.getAll()));
	    
	    $.ajax(`/lms/instructor/${lectureNumber}/taskUpdate/${taskNumber}`, {
	        type: 'POST',
	        data: formData,
	        processData: false,
	        contentType: false
	    })
	    .done(result => {
	    	console.log(result);
	        if(result.success) { 
	        	Swal.fire({
	        		  icon: "success",
	        		  title: "성공적으로 수정되었습니다",
	        		  showConfirmButton: false,
	        		  timer: 1000
	        		}).then(() => {
	        		  setTimeout(function() {
	        			  window.location.href = `/lms/instructor/${lectureNumber}/taskList`;  // 목록 페이지로 리다이렉트
	        		  }, 200);
	        		});

	        } else {
	        	Swal.fire({
	        		  icon: "error",
	        		  title: "실패...",
	        		  text: "뭔가 잘못되었어요."
	        		});
	        }
	    })
	    .fail(err => console.log(err));
	}

    function getTaskInfo() {
       let formData = $('form[name="updateForm"]').serializeArray();
       console.log('1) serializeArray', formData);
       

       let objData = {};
       $.each(formData, (idx, input) =>{
           console.log('2) input', idx, input);
           objData[input.name] = input.value;
       })
       return objData;
    }
    
    // 파일 삭제 처리용 익명 함수
    const removeFileId = (function() {
        const ids = [];
        return {
            add(id) {
                if (ids.includes(id)) {
                    return false;
                }
                ids.push(id);
            },
            getAll() {
                return ids;
            }
        }
    }());
    
    // 파일 선택
    function selectFile(element) {
    	  const file = element.files[0];
    	  const fileItem = element.closest('.file-item');
    	  const filename = fileItem.querySelector('input[type="text"]');

      // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
      if (!file) {
        filename.value = '';
        return false;
      }

      // 2. 파일 크기가 10MB를 초과하는 경우
      const fileSize = Math.floor(file.size / 1024 / 1024);
      if (fileSize > 10) {
        alert('10MB 이하의 파일로 업로드해 주세요.');
        filename.value = '';
        element.value = '';
        return false;
      }

      // 3. 파일명 지정
      filename.value = file.name;
      
/*    // 4. 삭제할 파일 id 추가
      if (id) {
          removeFileId.add(id);
      } */
    }
	
    function addFile() {
        const fileDiv = document.createElement('div');
        fileDiv.className = 'file-item mb-2 d-flex justify-content';
        fileDiv.innerHTML = `
            <input type="file" name="files" class="form-control" onchange="selectFile(this);" style="display:none;" />
            <input type="text" readonly class="form-control col-8 mb-1" onclick="this.previousElementSibling.click();" />
            <div><button type="button" onclick="removeFile(this)" class="btn btn-danger btn-sm ml-1 mt-2">x</button></div>
        `;
        document.getElementById('new-file-inputs').appendChild(fileDiv);
    }

    function removeFile(element, numbers) {
        // 1. 삭제할 파일 id 추가 
        if (numbers) {
            removeFileId.add(numbers);
        }
        
        // 2. 파일 영역 삭제
        element.closest('.file-item').remove();
    }
	</script>

	<!-- End custom js for this page-->
</body>

</html>

