<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/instructorDetailSubject_layout}"
	layout:fragment="content">
<head>

	<link th:href="@{/css/instructor/task/taskinfo.css}" rel="stylesheet">

<title>과제 상세 조회</title>

<!-- Include ConfigFragment -->
<script th:inline="javascript">let lectureNumber = /* [[${lectureNumber}]] */ "";</script>

</head>

<body id="taskInfoBody">
    <table class="table-custom">
      <tr>
        <th rowspan="2">제목</th>
        <td rowspan="2" class="highlight" th:text="${taskInfo.title}"></td>
        <th>게시일자</th>
        <td th:text="${#dates.format(taskInfo.postDate, 'yyyy년 MM월 dd일')}"></td>
      </tr>
      <tr>
        <th>제출기한</th>
        <td th:text="${#dates.format(taskInfo.submitDeadline, 'yyyy년 MM월 dd일')}"></td>
      </tr>
      <tr>
        <th>내용</th>
        <td colspan="3" th:text="${taskInfo.description}"></td>
      </tr>
      <tr>
        <th>첨부 파일</th>
        <td colspan="3">
          <div class="attachment-cards">
            <th:block th:each="file : ${taskInfo.fileList}">
              <div class="card" th:if="${file.isDeleted} == false">
                <a th:href="@{/instructor/taskInfo/{taskNumber}/files/{attachmentFileNumber}/download(taskNumber=${taskInfo.taskNumber},attachmentFileNumber=${file.attachmentFileNumber})}">
                  <span class="icons"><i class="fas fa-folder-open"></i></span>
                  <span th:text="${file.originalFileName}"></span>
                </a>
              </div>
            </th:block>
          </div>
        </td>
      </tr>
    </table>
    <div class="btn-group float-end" role="group">
      <button type="button" class="btn btn-success mt-3" th:onclick="|location.href='@{/instructor/{lectureNumber}/taskUpdate/{taskNumber}(lectureNumber=${lectureNumber},taskNumber=${taskInfo.taskNumber})}'|">수정</button>
      <button type="button" class="btn btn-secondary mt-3" th:onclick="|location.href='@{/instructor/{lectureNumber}/taskList(lectureNumber=${taskInfo.lectureNumber})}'|">목록</button>
      <button type="button" class="btn btn-danger mt-3" th:onclick="confirmDelete(this)" th:data-task-no="${taskInfo.taskNumber}" th:data-lecture-no="${taskInfo.lectureNumber}">삭제</button>
      <button type="button" class="btn btn-info mt-3" th:onclick="|location.href='@{/instructor/{lectureNumber}/task/{taskNumber}/submittedStudents(lectureNumber=${lectureNumber},taskNumber=${taskInfo.taskNumber})}'|">제출상태</button>
    </div>
  	
  	<script>

  	function confirmDelete(button) {
  	    const swalWithBootstrapButtons = Swal.mixin({
  	        customClass: {
  	            confirmButton: "btn btn-success m-1",
  	            cancelButton: "btn btn-danger m-1",
  	            actions: 'my-actions',
  	            container: 'my-swal'
  	        },
  	        buttonsStyling: false
  	    });

  	    swalWithBootstrapButtons.fire({
  	        title: "정말로 삭제하시겠습니까?",
  	        text: "이 작업은 되돌릴 수 없습니다!",
  	        icon: "warning",
  	        showCancelButton: true,
  	        confirmButtonText: "네, 삭제합니다!",
  	        cancelButtonText: "아니요, 취소합니다!"
  	    }).then((result) => {
  	        if (result.isConfirmed) {
  	            // 삭제 작업 수행
  	            const taskNo = button.getAttribute('data-task-no');
  	            const lectureNo = button.getAttribute('data-lecture-no');
  	            location.href = `/lms/instructor/${lectureNo}/taskDelete?taskNo=${taskNo}`;
  	        } else if (result.dismiss === Swal.DismissReason.cancel) {
  	            swalWithBootstrapButtons.fire({
  	                title: "취소되었습니다",
  	                text: "파일이 안전하게 보관되었습니다.",
  	                icon: "error"
  	            });
  	        }
  	    });
  	}
</script>
  
</body>

</html>

