
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/administrator_layout}"
	layout:fragment="content">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>PolluxUI Admin</title>

<!-- Include ConfigFragment -->
<th:block th:replace="common/configs/default_config :: ConfigFragment"></th:block>

</head>

<body>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="table-responsive pt-3">
					<form>
						<table class="table table-striped project-orders-table">
							<thead>
								<tr>
									<th class="ml-5">번호</th>
									<td th:text="${counselInfo.counselNumber}" ></td>
								</tr>
								<tr>
									<th>학부모</th>
									<td th:text="${counselInfo.parentName}"></td>

									<th>학생</th>
									<td th:text="${counselInfo.studentName}"></td>

									<th>전화번호</th>
									<td th:text="${counselInfo.phone}"></td>
								</tr>
								<tr>
									<th>예약 일자</th>
									<td th:text="${counselInfo.reservationDate}"></td>

									<th>시간</th>
									<td th:text="${counselInfo.timeCode}"></td>

									<th>상태</th>
									<td th:text="${counselInfo.reservationCode}"></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>내용</th>
									<td th:text="${counselInfo.content}"></td>
								</tr>
							</tbody>
						</table>
					</form>

					<div>  
						<button type="button" id="upBtn" class="btn btn-danger" th:onclick="|location.href='@{/admin/counselUpdate(counselNumber=${counselInfo.counselNumber})}'|">수정</button>
						<button type="button" id="liBtn" class="btn btn-secondary" th:onclick="|location.href='@{/admin/counselList}'|">목록</button>
						<button type="button" id="delBtn" class="btn btn-primary" th:onclick="|location.href='@{/admin/counseldelete(counselId=${counselInfo.counselNumber})}'|">삭제</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content-wrapper ends -->

</body>

<script th:javascript>
	const dayBtn = document.getElementById('dayBtn');
	dayBtn.addEventListener('click', ()=>{
		
		let param =[];
		
		let modalDateValue = $('#modalDateParam').val();
		let selectTable = $('#counselDayTime');
		let selectInputs = selectTable.find('.change');
		
		selectInputs.each((idx, ele) => {
				param.push({ reservationDate : modalDateValue, timeCode : $(ele).parent().text()});
		})
		
		$.ajax({
			type: 'post',
			url: 'counselDayTime', // 데이터를 주고받을 파일 주소 입력
			data: JSON.stringify(param),
			contentType: 'application/json; charset=utf-8',
			dataType: 'json', // JSON 형식으로 받기
			success: function(result){
				console.log('서버 응답:', result);
			},
			error: function(){  
				console.error('서버 요청 실패');
			}
		});
});
</script>

</html>

