<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/administrator_layout}"
	layout:fragment="content">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>PolluxUI Admin</title>

<!-- Include ConfigFragment -->
<th:block th:replace="common/configs/default_config :: ConfigFragment"></th:block>
</head>
<style>

</style>
<body>

<div style="display: grid; grid-template-columns: auto 1fr; align-items: center; gap: 20px; margin-top: 20px; margin-bottom: 20px;">
    <form name="counList" id="counList">
        <input type="hidden" id="pageNum" name="pageNum">
        
        <select name="reservationCode" onchange="document.counList.submit()" style="padding: 8px; font-size: 16px; border-radius: 5px; border: 1px solid #ccc;">
            <option value="">전체</option>
            <option value="대기" th:selected="${cri.reservationCode=='대기'}">대기</option>
            <option value="확정" th:selected="${cri.reservationCode=='확정'}">확정</option>
        </select>
    </form>
    
    <h4 style="font-weight: 800; text-align: center; margin: 0; margin-left: -100px;">상담 신청 리스트</h4>
</div>



	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="table-responsive pt-3">
					<table class="table project-orders-table" style="text-align: center;">
						<thead>
							<tr>
								<th class="ml-5">번호</th>
								<th>학부모</th>
								<th>학생</th>
								<th>전화번호</th>
								<th>예약 일자</th>
								<th>시간</th>
								<th>상태</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="counsel : ${counselList}">
								<tr
									th:onclick="|location.href='@{/admin/counselInfo(counselNumber=${counsel.counselNumber})}'|">
									<td th:text="${counsel.counselNumber}"></td>
									<td th:text="${counsel.parentName}"></td>
									<td th:text="${counsel.studentName}"></td>
									<td th:text="${counsel.phone}"></td>
									<td th:text="${counsel.reservationDate}"></td>
									<td th:text="${counsel.timeCode}"></td>
									<td th:text="${counsel.reservationCode}"></td>
								</tr>
								<th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	


			<!-- 페이징 구현 -->
			<div class="row pagination-wrap mt-5">
			    <div class="col-md-12 text-center">
			        <nav aria-label="Page navigation">
			            <ul class="pagination justify-content-center">
			                <li class="page-item">
			                    <a th:if="${page.prev}" href="#" th:data-pagenum="${page.startPage - 1}" class="page-link" aria-label="Previous">
			                        <span aria-hidden="true">&laquo;</span>
			                        <span class="sr-only">Previous</span>
			                    </a>
			                </li>
			                <th:block th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}">
			                    <li class="page-item">
			                        <a th:class="${page.cri.pageNum == num ? 'page-link active' : 'page-link'}" href="#" th:data-pagenum="${num}">
			                            [[${num}]]
			                        </a>
			                    </li>
			                </th:block>
			                <li class="page-item">
			                    <a th:if="${page.next}" href="#" th:data-pagenum="${page.endPage + 1}" class="page-link" aria-label="Next">
			                        <span aria-hidden="true">&raquo;</span>
			                        <span class="sr-only">Next</span>
			                    </a>
			                </li>
			            </ul>
			        </nav>
			    </div>
			</div>


<script th:inline="javascript">

	$(".pagination-wrap a").on("click", (e)=>{
		document.getElementById('pageNum').value = $(e.target).data("pagenum");
		document.counList.submit();
	})
	
	
</script>
</body>

</html>

