<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.son.app.file.mapper.FileMapper">
	<sql id="fileColumns">
          attachment_file_number,
      	  original_file_name,
       	  save_file_name,
       	  file_size,
       	  created_date,
       	  deleted_date,
       	  is_deleted,
       	  lecture_material_number,
       	  online_lecture_number,
       	  task_number,
       	  question_number,
       	  task_submit_number
    </sql>

<!-- 파일 정보 저장 -->
<insert id="saveAll" parameterType="list">
	<selectKey keyProperty="attachmentFileNumber" resultType="int" order="BEFORE">
        	SELECT NVL(MAX(attachment_file_number), 0) + 1 FROM attachment_file
    	</selectKey>
	INSERT INTO attachment_file (
		<include refid="fileColumns" />
	) VALUES
	
	<foreach item="file" collection="list" separator=",">
        (
        	#{attachmentFileNumber}
          , #{originalFileName}
          , #{saveFileName}
          , #{fileSize}
          , sysdate
          , NULL
          , 0
          , #{lectureMaterialNumber}
          , #{onlineLectureNumber}
          , #{taskNumber}
          , #{questionNumber}
          , #{taskSubmitNumber}
    </foreach>
</insert>

</mapper>