<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="common/configs/default_config :: ConfigFragment"></th:block>
    
<style>
.btn-primary {
	box-shadow: none;
	border: none;
}
</style>
</head>
<body>
<th:block th:insert="common/fragments/instructor_nav :: instructorNavFragment"></th:block>

<div class="container-fluid page-body-wrapper" style="padding-top: 88px;">
    <th:block th:replace="common/fragments/instructorDetailSubject_sidebar :: instructorDetailSubjectSidebarFragment"></th:block>
    <div class="main-panel">
        <div class="content-wrapper">

            <th:block layout:fragment="content">

            </th:block>
        </div>
    </div>
</div>


<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script th:src="@{/js/template.js}"></script>
<script src="/lms/js/insnav/gettoday.js"></script>

</body>
</html>