<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<th:block th:insert="common/configs/default_config :: ConfigFragment"></th:block>
</head>
<body>
	<th:block
		th:insert="common/fragments/instructor_nav :: instructorNavFragment"></th:block>

	<div class="container-fluid page-body-wrapper">
		<th:block th:replace="common/fragments/instructor_sidebar :: instructorSidebarFragment"></th:block>
		<div class="main-panel">
			<div class="content-wrapper">
				<th:block layout:fragment="content">

				</th:block>
			</div>
		</div>
	</div>
	<!-- base:js -->
	<script src="/lms/vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<script src="/lms/vendors/chart.js/Chart.min.js"></script>
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script src="/lms/js/off-canvas.js"></script>
	<script src="/lms/js/hoverable-collapse.js"></script>
	<script src="/lms/js/template.js"></script>
	<script src="/lms/js/settings.js"></script>
	<script src="/lms/js/todolist.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="/lms/js/dashboard.js"></script>
	<script src="/lms/js/insnav/gettoday.js"></script>
</body>
</html>