.project-orders-table thead tr, .project-orders-table tbody tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-orders-table td, .project-orders-table th {
    width: 25%;
    text-align: center;
}

.custom-thead tr th {
    background-color: #28587E !important;
    color: white;
    font-weight: 800 !important;
}

.pagination .page-item .page-link {
    background-color: #27587E;
    border-color: #27587E;
    font-weight: 600;
    color: white;
}

.pagination .page-item.active .page-link, .pagination .page-item:hover .page-link, .pagination .page-item:focus .page-link, .pagination .page-item:active .page-link {
    background-color: white;
    border-color: white;
    color: black;
}