.swiper {
    width: 100%;
    height: 230px;
    margin-bottom: 30px;
    border: 1px solid white;
}

.swiper-slide {
    display: block;
    text-align: center;
    background-color: white;
}

.slide-content {
    max-width: 50%;
    margin: 0 auto;
}

.slide-content h4{
    margin-top: 15px;
}

.subject-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.subject-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-item {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.info-item i {
    margin-right: 8px;
}

.details-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #27587E;
}

.swiper-pagination-bullet {
    background-color: #27587E;
}

