.project-orders-table thead tr, .project-orders-table tbody tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-orders-table td, .project-orders-table th {
    width: 25%;
    text-align: center;
}

.custom-thead tr th {
    background-color: #28587E !important;
    color: white;
    font-weight: 800 !important;
}
