.swiper {
    width: 100%;
    height: 230px;
    margin-bottom: 30px;
    border: 1px solid white;
}

.swiper-slide {
    display: block;
    text-align: center;
    background-color: white;
}

.slide-content {
    max-width: 50%;
    margin: 0 auto;
}

.slide-content h4{
    margin-top: 15px;
}

.subject-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.subject-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-item {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.info-item i {
    margin-right: 8px;
}

.details-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #27587E;
}

.swiper-pagination-bullet {
    background-color: #27587E;
}

/* 모달 창 안에 있는 슬라이드 */

.modal__lecture-info .swiper {
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal__lecture-info .swiper-slide .subject-info {
    justify-content: center;
    align-items: center;
}

.modal__lecture-info .swiper-slide h5 {
    font-weight: 600;
}

.modal__lecture-info swiper-pagination {
    top : 100px;
}

.fc-button {
    background-color: #27587E !important;
}

.fc-day  {
    background-color: #27587E;
}

.fc-day a[aria-label="일요일"],
.fc-day a[aria-label="월요일"],
.fc-day a[aria-label="화요일"],
.fc-day a[aria-label="수요일"],
.fc-day a[aria-label="목요일"],
.fc-day a[aria-label="금요일"],
.fc-day a[aria-label="토요일"]
{
    color: white;
}

.fc-scrollgrid-sync-inner a {
    color: black;
    font-weight: 500;
}