<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>학생 출석표</title>
    <th:block th:insert="common/configs/default_config :: ConfigFragment"></th:block>
</head>
<body>
    <th:block th:insert="common/fragments/student/student_header :: studentNavFragment"></th:block>

    <div class="container-fluid page-body-wrapper" style="padding-top: 88px;">
    <th:block th:replace="common/fragments/student/student_sidebar :: studentSidebarFragment"></th:block>
        <div class="main-panel">
            <div class="content-wrapper">

                <th:block layout:fragment="content">

                </th:block>
            </div>
        </div>
    </div>
    <!-- 모달 -->
    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel">미적분</h5>
                </div>
                <div class="modal-body">
                    <table class="table" style="text-align: center">
                        <thead>
                            <tr>
                                <th scope="col">과제</th>
                                <th scope="col">시험</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="eventAssignment"></td>
                                <td id="eventExam"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>