<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
		th:fragment="mainHeaderFragment">
<head>
<meta charset="UTF-8">
<title>DONGHAN SON</title>
<link rel="stylesheet" th:href="@{/css/security/main.css}"/>
</head>
<body>
	<div class="top-bar">
		<ul>
			<li><a href="login">로그인</a></li>
			<li><a href="join">회원가입</a></li>
		</ul>
	</div>

	<header>
		<h1><a href="/lms" style="font-size:50px; color:black;">SON LMS</a></h1>
	</header>

	<nav>
		<ul>
			<li><a href="lectures">수업 정보</a></li>
			<li><a href="admission">입학 상담</a></li>
			<li><a href="login">LMS 바로가기</a></li>
		</ul>
	</nav>

	<div class=""></div>

	<div class=""></div>
</body>
</html>