<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/student/studentDetailSubject_layout}">
<head>
    <link th:href="@{/css/student/task/tasklInfo.css}" rel="stylesheet">
    <script th:inline="javascript">
        const lectureNumber = [[${taskListVO.lectureNumber}]];
        const taskNumber = [[${taskListVO.taskNumber}]];
        const attachmentFileList = [[${attachmentFileVOList}]];
        console.log("과제 상세 정보: ",[[${taskListVO}]]);
        console.log("제출 파일 조회: ", [[${attachmentFileVOList}]], [[${attachmentFileVOList.size()}]]);
    </script>
    <script th:src="@{/js/task/taskInfo.js}"></script>
</head>
<body>
    <div layout:fragment="content">
        <h4 class="header-title">과제 제출</h4>
        <div class="header-right">
            <span>목록</span>
        </div>
        <table class="table-custom one-table">
            <tr>
                <th>제목</th>
                <td class="highlight">[[${taskListVO.title}]]</td>
                <th>제출 기한</th>
                <td>[[${#dates.format(taskListVO.postDate, 'yyyy-MM-dd')}]] ~ [[${#dates.format(taskListVO.submitDeadline, 'yyyy-MM-dd')}]]</td>
            </tr>
            <tr style="height: 100px;">
                <th>강의 내용</th>
                <td colspan="3">[[${taskListVO.description}]]</td>
            </tr>
            <tr th:if="${not #lists.isEmpty(taskListVO.attachmentFileVOList)}">
                <th>과제 파일</th>
                <td colspan="3">
                    <div class="attachment-cards">
                        <th:block th:each="attachmentFile : ${taskListVO.attachmentFileVOList}">
                            <div class="card">
                                <a th:href="@{/student/{lectureNumber}/task/{taskNumber}/download(lectureNumber=${taskListVO.lectureNumber}, taskNumber=${attachmentFile.taskNumber}, originalFileName=${attachmentFile.originalFileName}, filePath=${attachmentFile.filePath})}"><i class="fa-solid fa-file"></i>[[${attachmentFile.originalFileName}]]</a>
                            </div>
                        </th:block>
                    </div>
                </td>
            </tr>
        </table>
        <form id="taskForm" th:action="@{/student/{lectureNumber}/task/{taskNumber}(lectureNumber=${taskListVO.lectureNumber}, taskNumber=${taskListVO.taskNumber})}" method="POST" enctype="multipart/form-data">

            <div class="file-input-container">
                <input type="file" id="file-input" class="file-input" name="files" multiple>
                <label for="file-input" class="file-input-label">파일 선택</label>
            </div>
            <table class="table-custom two-table">
                <thead>
                    <tr style="height: 60px">
                        <th>파일명</th>
                        <th>파일 유형</th>
                        <th>파일 크기</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody id="submitted-files">
                    <th:block th:if="${!attachmentFileVOList.isEmpty()}">
                        <tr th:each="attachmentFile : ${attachmentFileVOList}">
                            <td>[[${#strings.setSplit(attachmentFile.originalFileName, ".")[0]}]]</td>
                            <td>[[${#strings.setSplit(attachmentFile.originalFileName, ".")[1]}]]</td>
                            <td>[[${attachmentFile.fileSize}]]</td>
                            <td>
                                <span class="delete-btn" style="cursor: pointer">X</span>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>

            <div class="submit-button-container">
                <th:blocK th:if="${attachmentFileVOList.isEmpty()}">
                    <button class="btn-submit">제출</button>
                </th:blocK>
                <th:blocK th:unless="${attachmentFileVOList.isEmpty()}">
                    <button class="btn-modify">수정</button>
                </th:blocK>
            </div>
        </form>
    </div>
</body>
</html>
