<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.son.app.lecture.mapper.AdminLectureMapper">

    <!-- 강의 내용 전체 조회 -->
	<select id="adminLectureSelectAll" resultType="LectureVO">
		SELECT lecture_number,          <!-- 강의 번호 -->
			lecture_title,              <!-- 강의 제목 -->
			lecture_description,        <!-- 강의 설명 -->
			subject_name(subject_code) subject_code,               <!-- 과목 코드 -->
			detail_subject_name(detail_subject_code) detail_subject_code,        <!-- 세부 과목 코드 -->
			lecture_cost,               <!-- 강의 비용 -->
			lecture_level_code,         <!-- 강의 수준 코드 -->
			weekdays_code,              <!-- 강의 요일 코드 -->
			time_code,                  <!-- 강의 시간대 코드 -->
			lecture_start_date,         <!-- 강의 시작 날짜 -->
			lecture_end_date,           <!-- 강의 종료 날짜 -->
			capacity,                   <!-- 강의 수용 인원 -->
			instructor_number           <!-- 강사 번호 -->
		FROM lecture
	</select>

<!-- 	특정 강의 정보 불러오기 -->
	<select id="adminLectureSelectInfo" resultType="LectureVO">
		SELECT lecture_number,          <!-- 강의 번호 -->
			lecture_title,              <!-- 강의 제목 -->
			lecture_description,        <!-- 강의 설명 -->
			subject_name(subject_code) subject_code,               <!-- 과목 코드 -->
			detail_subject_name(detail_subject_code) detail_subject_code,        <!-- 세부 과목 코드 -->
			lecture_cost,               <!-- 강의 비용 -->
			lecture_level_code,         <!-- 강의 수준 코드 -->
			weekdays_code,              <!-- 강의 요일 코드 -->
			time_code,                  <!-- 강의 시간대 코드 -->
			lecture_start_date,         <!-- 강의 시작 날짜 -->
			lecture_end_date,           <!-- 강의 종료 날짜 -->
			capacity,                   <!-- 강의 수용 인원 -->
			instructor_number           <!-- 강사 번호 -->
		FROM lecture
		WHERE lecture_number = #{lectureNumber}
	</select>
	
<!-- 	강의 등록 -->
		<insert id="adminLectureInsertInfo" parameterType="lectureVO">
	    <selectKey keyProperty="lectureNumber" resultType="Integer" order="BEFORE">
	        SELECT NVL(MAX(lecture_number) + 1, 1) lecture_number FROM lecture
	    </selectKey>
	    INSERT INTO lecture
	    (
	        lecture_number,      
	        lecture_title,           
	        lecture_description,     
	        subject_code,            
	        detail_subject_code,     
	        lecture_cost,            
	        lecture_level_code,     
	        weekdays_code,           
	        time_code,               
	        lecture_start_date,     
	        lecture_end_date,        
	        capacity,                
	        instructor_number        
	    )
	    VALUES
	    (
	        #{lectureNumber},         
	        #{lectureTitle},           
	        #{lectureDescription},     
	        #{subjectCode},            
	        #{detailSubjectCode},     
	        #{lectureCost},            
	        #{lectureLevelCode},      
	        #{weekdaysCode},           
	        #{timeCode},              
	        #{lectureStartDate},     
	        #{lectureEndDate},        
	        #{capacity},               
	        #{instructorNumber}   
	    )
	</insert>

	
	<select id="adminLectureSubjectList" resultType="LectureSubjectVO">
		SELECT subject_name,
    		   subject_code
		FROM subject
	</select>
	
<!-- 	드롭다운 세부과목 보기 -->
	<select id="adminLectureSubjectDetailList" resultType="LectureSubjectDetailVO">
		SELECT detail_subject_name,
    		   detail_subject_code,
    		   subject_code
		FROM detail_subject
	</select>


<!-- 	해당 강의 수강 학생 조회 -->
	<select id="adminLectureStudentList" resultType="LectureStudentVO">
		SELECT student_number
		        , name
		        , email
		        , phone
		        , birth
		FROM lecture_student
		WHERE lecture_number = #{lectureNumber}
	</select>
	
<!-- 	이메일로 학생찾기 -->
	<select id="adminLectureStudentEmail" parameterType="String" resultType="LectureStudentVO">
		SELECT student_number, 
			name, 
			email, 
			phone, 
			birth 
		FROM student
		WHERE email = #{email}
	</select>
	
<!-- 	학생찾아서 강의리스트에 등록 -->
<!-- 	<insert id="adminLectureStudentInsert" parameterType="LectureStudentVO" > -->
<!-- 	INSERT INTO lecture_student  -->
<!-- 		(student_number,  -->
<!-- 		name, -->
<!-- 		email, -->
<!-- 		phone, -->
<!-- 		birth) -->
<!-- 	VALUES -->
<!-- 		(#{studentNumber}, -->
<!-- 		#{name}, -->
<!-- 		#{email}, -->
<!-- 		#{phone}, -->
<!-- 		#{birth}) -->
<!-- 	</insert> -->

	<insert id="adminLectureStudNumInsert" parameterType="RegistrationVO" useGeneratedKeys="true" keyProperty="registrationNumber">
    <selectKey keyProperty="registrationNumber" resultType="int" order="BEFORE">
        SELECT NVL(MAX(registration_number) + 1, 1) AS registrationNumber FROM registration
    </selectKey>
	    INSERT INTO registration 
	        (registration_number, 
	        lecture_number, 
	        student_number)
	    VALUES
	        (
	        #{registrationNumber}, 
	        #{lectureNumber}, 
	        #{studentNumber}
	        )
	</insert>

	<select id="adminInstructorSelectAll" resultType="InstructorVO">
	    SELECT name,
	           instructor_number,
			   subject_name(subject_code) subject_code               <!-- 과목 코드 -->
	    FROM instructor
	</select>

</mapper>