<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.son.app.lecture.mapper.InsLectureMapper">
	<select id="selectLectureAll" resultType="LectureVO">
		SELECT lecture_number,
			   lecture_title,
			   lecture_description,
			   lecture_cost,
			   subject_code,
			   detail_subject_code,
			   capacity,
			   lecture_level_code,
			   weekdays_code,
			   time_code,
			   lecture_start_date,
			   lecture_end_date,
			   instructor_number
		FROM lecture
		ORDER BY lecture_number		   
	</select>
	
	<select id="getStudentNumbersByLecture" resultType="int">
	    SELECT student_number
	    FROM registration
	    WHERE lecture_number = #{lectureNumber}
	</select>

</mapper>