<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.son.app.attendance.mapper.StudentAttendanceMapper">
    <!-- 캘린더 조회 -->
    <select id="scheduleList" resultType="StudentScheduleVO">
        SELECT
            'task' as type
             , task_number as "number"
             , de_sub_name_by_lecture(task.lecture_number) || ' 과제' as title
             , submit_deadline as "start"
             , task.lecture_number
        FROM task
        JOIN registration
            ON registration.lecture_number = task.lecture_number
        WHERE student_number = #{studentNumber}
        UNION ALL
        SELECT 'test'
             , test_number
             , de_sub_name_by_lecture(test.lecture_number) || ' 시험' as title
             , exam_date
             , test.lecture_number
        FROM test
        JOIN registration
            ON registration.lecture_number = test.lecture_number
        WHERE student_number = #{studentNumber}
    </select>

    <!-- 강의 조회 -->
    <select id="lectureList" resultType="StudentLectureInfoVO" parameterType="int">
        SELECT
            registration.lecture_number
             , subject_name(lecture.subject_code) as subject_name
             , detail_subject_name(detail_subject_code) as detail_subject_name
             , lecture_level_code as lecture_level
             , weekdays_code as weekday
             , time_code as time
             , lecture_start_date as begin
             , lecture_end_date as finish
             , instructor.name
        FROM registration
        JOIN lecture
            ON lecture.lecture_number = registration.lecture_number
        JOIN instructor
            ON instructor.instructor_number = lecture.instructor_number
        WHERE student_number = #{studentNumber}
    </select>

    <!-- 과제 및 시험 상세 보기 -->
    <select id="scheduleDetail" resultType="StudentScheduleDetailVO">
        SELECT
            'task' as type
             , title
             , post_date
             , submit_deadline as deadline_date
             , task_submit_code as status
             , task.lecture_number
        FROM task_submit submit
        JOIN task
            ON task.task_number = submit.task_number
        WHERE student_number = #{studentNumber} AND TRUNC(submit_deadline) = #{deadlineDate}
        UNION ALL
        SELECT
            'test' as type
             , test_title
             , exam_date
             , exam_date
             , participate_status
            , test.lecture_number
        FROM participate
        JOIN test
            ON test.test_number = participate.test_number
        WHERE student_number = #{studentNumber} AND TRUNC(exam_date) = #{deadlineDate}
    </select>

    <select id="lectureInfo" resultType="StudentLectureInfoVO">
        SELECT lecture_number
             , de_sub_name_by_lecture(lecture_number) as detail_subject_name
        FROM lecture
        WHERE lecture_number = #{lectureNumber}
    </select>

    <!-- 출석표 -->
    <select id="attendanceSchedule">
        SELECT attendance_code AS title
             , attendance_date AS "start"
             , remark
        FROM attendance
        WHERE lecture_number = #{lectureNumber} AND student_number = #{studentNumber}
    </select>

    <!--  총 출석 일수 + 지각 수 + 결석 수 + 조퇴 수  -->
<!--    <select id="studentCalculateAttendanceStats">-->
<!--        WITH lecture_date_range AS (-->
<!--            SELECT lecture_number-->
<!--                , lecture_start_date + (LEVEL - 1) AS lecture_date-->
<!--                , TO_CHAR(lecture_start_date + (LEVEL - 1), 'DY', 'NLS_DATE_LANGUAGE=KOREAN') AS day_of_week-->
<!--            FROM lecture-->
<!--            WHERE lecture_number = #{lectureNumber}-->
<!--            <![CDATA[-->
<!--            CONNECT BY LEVEL <= (lecture_end_date - lecture_start_date + 1) AND PRIOR lecture_start_date = lecture_start_date AND PRIOR SYS_GUID() IS NOT NULL-->
<!--            ]]>),-->
<!--        lecture_days AS (-->
<!--            SELECT lecture_date_range.lecture_number-->
<!--                , lecture_date-->
<!--                , day_of_week-->
<!--            FROM lecture_date_range-->
<!--            JOIN lecture-->
<!--                ON lecture_date_range.lecture_number = lecture.lecture_number-->
<!--            WHERE lecture.lecture_number = #{lectureNumber} AND (REGEXP_LIKE(lecture.weekdays_code, '월요일') AND day_of_week = '월' OR REGEXP_LIKE(lecture.weekdays_code, '화요일') AND day_of_week = '화' OR REGEXP_LIKE(lecture.weekdays_code, '수요일') AND day_of_week = '수' OR REGEXP_LIKE(lecture.weekdays_code, '목요일') AND day_of_week = '목' OR REGEXP_LIKE(lecture.weekdays_code, '금요일') AND day_of_week = '금' OR REGEXP_LIKE(lecture.weekdays_code, '토요일') AND day_of_week = '토' OR REGEXP_LIKE(lecture.weekdays_code, '일요일') AND day_of_week = '일')),-->
<!--        filtered_attendance AS (-->
<!--            SELECT student_number-->
<!--                , attendance_code-->
<!--                , attendance_date-->
<!--                , TO_CHAR(attendance_date, 'DY', 'NLS_DATE_LANGUAGE=KOREAN') AS day_of_week-->
<!--            FROM attendance-->
<!--            JOIN lecture-->
<!--                ON attendance.lecture_number = lecture.lecture_number-->
<!--            WHERE lecture.lecture_number = #{lectureNumber} AND student_number = #{studentNumber} AND attendance_code IN ('출석', '지각', '조퇴', '결석')),-->
<!--        total_days_with_status AS (-->
<!--            SELECT COUNT(DISTINCT lecture_date) AS total_days-->
<!--            FROM filtered_attendance-->
<!--            JOIN lecture_days-->
<!--                ON filtered_attendance.attendance_date = lecture_days.lecture_date-->
<!--            )-->
<!--        SELECT(-->
<!--            SELECT total_days-->
<!--            FROM total_days_with_status) AS total_days-->
<!--            , SUM(CASE-->
<!--                      WHEN attendance_code IN ('출석', '지각', '조퇴') THEN 1-->
<!--                      ELSE 0-->
<!--                  END) AS attendance_days-->
<!--            , SUM(CASE-->
<!--                      WHEN attendance_code = '지각' THEN 1-->
<!--                      ELSE 0-->
<!--                  END) AS tardy_days-->
<!--            , SUM(CASE-->
<!--                      WHEN attendance_code = '조퇴' THEN 1-->
<!--                      ELSE 0-->
<!--                  END) AS early_leave_days-->
<!--            , SUM(CASE-->
<!--                      WHEN attendance_code = '결석' THEN 1-->
<!--                      ELSE 0-->
<!--                  END) AS absent_days-->
<!--        FROM filtered_attendance-->
<!--        JOIN lecture_days-->
<!--            ON filtered_attendance.attendance_date = lecture_days.lecture_date-->
<!--        GROUP BY filtered_attendance.student_number-->

<!--    </select>-->

</mapper>