<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.son.app.attendance.mapper.StudentAttendanceMapper">
    <select id="scheduleList" resultType="StudentScheduleVO">
        SELECT
            'task' as type
             , de_sub_name_by_lecture(task.lecture_number) || ' 과제' as title
             , submit_deadline as "start"
        FROM task
                 JOIN registration
                      ON registration.lecture_number = task.lecture_number
        WHERE student_number = #{studentNumber}
        UNION ALL
        SELECT 'test'
             , de_sub_name_by_lecture(test.lecture_number) || ' 시험' as title
             , exam_end_date
        FROM test
                 JOIN registration
                      ON registration.lecture_number = test.lecture_number
        WHERE student_number = #{studentNumber}
    </select>
</mapper>