<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.son.app.attendance.mapper.StudentAttendanceMapper">
    <!-- 캘린더 조회 -->
    <select id="scheduleList" resultType="StudentScheduleVO">
        SELECT
            'task' as type
             , task_number as "number"
             , de_sub_name_by_lecture(task.lecture_number) || ' 과제' as title
             , submit_deadline as "start"
        FROM task
        JOIN registration
            ON registration.lecture_number = task.lecture_number
        WHERE student_number = #{studentNumber}
        UNION ALL
        SELECT 'test'
             , test_number
             , de_sub_name_by_lecture(test.lecture_number) || ' 시험' as title
             , exam_date
        FROM test
        JOIN registration
            ON registration.lecture_number = test.lecture_number
        WHERE student_number = #{studentNumber}
    </select>

    <!-- 강의 조회 -->
    <select id="lectureList" resultType="StudentLectureInfoVO" parameterType="int">
        SELECT
            registration.lecture_number
             , subject_name(lecture.subject_code) as subject_name
             , detail_subject_name(detail_subject_code) as detail_subject_name
             , lecture_level_code as lecture_level
             , weekdays_code as weekday
             , time_code as time
             , lecture_start_date as begin
             , lecture_end_date as finish
             , instructor.name
        FROM registration
        JOIN lecture
            ON lecture.lecture_number = registration.lecture_number
        JOIN instructor
            ON instructor.instructor_number = lecture.instructor_number
        WHERE student_number = #{studentNumber}
    </select>

    <!-- 과제 및 시험 상세 보기 -->
    <select id="scheduleDetail" resultType="StudentScheduleDetailVO">
        SELECT
            'task' as type
             , title
             , post_date
             , submit_deadline as deadline_date
             , task_submit_code as status
        FROM task_submit submit
        JOIN task
            ON task.task_number = submit.task_number
        WHERE student_number = #{studentNumber} AND TO_CHAR(submit_deadline, 'YY/MM/DD') = #{deadlineDate}
        UNION ALL
        SELECT
            'test' as type
             , test_title
             , exam_date
             , exam_date
             , participate_status
        FROM participate
        JOIN test
            ON test.test_number = participate.test_number
        WHERE student_number = #{studentNumber} AND TO_CHAR(exam_date,'YY/MM/DD') = #{deadlineDate}
    </select>

    <select id="lectureInfo" resultType="StudentLectureInfoVO">
        SELECT lecture_number
             , de_sub_name_by_lecture(lecture_number) as detail_subject_name
        FROM lecture
        WHERE lecture_number = #{lectureNumber}
    </select>


</mapper>