<nav class="sidebar sidebar-offcanvas" id="sidebar" xmlns:th="https://www.thymeleaf.org" th:fragment="studentDetailSubjectSidebarFragment" style="margin-bottom: 28.992px">
    <ul class="nav">
        <li class="nav-item">
            <h6 style="text-align: center; margin-top: 10px">[[${detailSubjectName}]]</h6>
        </li>
        <hr/>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/student/' + ${detailSubjectName}}">
                <i class="fa-solid fa-calendar-check menu-icon" style="margin-right: 14px"></i>
                <span class="menu-title">출석표</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/student/' + ${detailSubjectName} + '/lectureMaterials?lectureNumber=' + ${lectureNumber}}">
                <i class="fas fa-book menu-icon" style="margin-right: 14px"></i>
                <span class="menu-title">강의 자료</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <i class="fa-solid fa-folder-open menu-icon" style="margin-right: 10px"></i>
                <span class="menu-title">과제 조회</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <i class="fa-solid fa-circle-question menu-icon"></i>
                <span class="menu-title">학습 QnA</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" th:href="@{/student}" aria-expanded="false" aria-controls="form-elements">
                <i class="fa-solid fa-desktop menu-icon" style="margin-right: 10px"></i>
                <span class="menu-title">인터넷 강의</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/student}">
                <i class="fa-solid fa-house-chimney menu-icon" style="margin-right: 10px"></i>
                <span class="menu-title">홈</span>
            </a>
        </li>
    </ul>
</nav>