<nav class="sidebar sidebar-offcanvas" id="sidebar" xmlns:th="https://www.thymeleaf.org" th:fragment="studentSidebarFragment" style="margin-bottom: 28.992px">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/student'}">
                    <i class="fa-regular fa-calendar menu-icon"></i>
                    <span class="menu-title">내 일정</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/student/courseRegistration'}">
                    <i class="fas fa-clipboard-check menu-icon"></i>
                    <span class="menu-title">수강 신청</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="fas fa-book menu-icon"></i>
                    <span class="menu-title">내 수업</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item" th:each="lectureInfo : ${session.lectureList}">
                            <a class="nav-link" th:href="@{'/student/' + ${lectureInfo.lectureNumber}}">[[${lectureInfo.detailSubjectName}]]</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
 </nav>