<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <script src=""></script>
    </head>
    <body>
        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="studentDetailSubjectSidebarFragment" style="margin-bottom: 28.992px">
            <ul class="nav">
                <li class="nav-item">
                    <h6 style="text-align: center; margin-top: 10px">[[${session.studentLectureInfo.detailSubjectName}]]</h6>
                </li>
                <hr/>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/student/{lectureNumber}(lectureNumber= ${session.studentLectureInfo.lectureNumber})}">
                        <i class="fa-solid fa-calendar-check menu-icon"></i>
                        <span class="menu-title" style="margin-left: 5px">출석표</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/student/' + ${session.studentLectureInfo.lectureNumber} + '/lectureMaterials'}">
                        <i class="fas fa-book menu-icon"></i>
                        <span class="menu-title" style="margin-left: 5px">강의 자료</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/student/{lectureNumber}/task(lectureNumber=${session.studentLectureInfo.lectureNumber})}">
                        <i class="fa-solid fa-folder-open menu-icon"></i>
                        <span class="menu-title">과제 조회</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/student/' + ${session.studentLectureInfo.lectureNumber} + '/exam'}">
                        <i class="fa-solid fa-pen-to-square menu-icon"></i>
                        <span class="menu-title" style="margin-left: 3px">시험</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/student}">
                        <i class="fa-solid fa-house-chimney menu-icon"></i>
                        <span class="menu-title" >홈</span>
                    </a>
                </li>
            </ul>
        </nav>
    </body>
</html>