<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/parent_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>상담 조회</title>
<script src="https://cdn.tailwindcss.com"></script>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
	rel="stylesheet">
<style>
#taskInfoBody {
	font-family: 'Roboto', sans-serif;
}
</style>
</head>
<div class="Content">
	<div class="bg-white shadow-md rounded-lg overflow-hidden">
		<div class="grid grid-cols-12 gap-4 p-6 border-b">
			<div class="col-span-1 font-bold align-self-center">제목</div>
			<div class="col-span-5 border-2">
				<p class="form-control w-full border rounded p-2"
					th:text="${counselInfo.title}"></p>
			</div>
		</div>
		<div class="grid grid-cols-12 gap-4 p-6 border-b">
			<div class="col-span-1 font-bold align-self-center">작성자</div>
			<div class="col-span-5 border-2">
				<p class="form-control w-full border rounded p-2"
					th:text="${counselInfo.parentName}"></p>
			</div>
			<div class="col-span-1 font-bold align-self-center">작성자 자녀</div>
			<div class="col-span-5 border-2">
				<p class="form-control w-full border rounded p-2"
					th:text="${counselInfo.studentName}"></p>
			</div>
		</div>
		<div class="grid grid-cols-12 p-6 border-b">
			<div class="col-span-1 font-bold mb-2 align-self-center">내용</div>
			<div class="col-span-11 border-2">
				<p class="form-control w-full border rounded p-2"
					style="resize: none; height: 25em;"
					th:text="${counselInfo.content}"></p>
			</div>
		</div>
		<!--             <div class="grid grid-cols-12 p-6 border-b">
                <div class="col-span-1 font-bold mb-2 align-self-center">첨부 파일</div>
                <div class="col-span-11 border-2">
                    <p class="form-control w-full border rounded p-2" th:text="${ParentCounselInfo.material}"></p>
                </div>
            </div> -->
		<div class="grid grid-cols-12 p-6 border-b"
			th:if="${counselInfo.responseContent}">
			<div class="col-span-1 font-bold mb-2 align-self-center">답변 내용</div>
			<div class="col-span-11 border-2">
				<p th:text="${counselInfo.responseContent}"></p>
			</div>
		</div>
	</div>
	<div class="flex justify-end mt-4">
		<button type="button"
			class="bg-red-500 text-white font-bold py-2 px-4 rounded ml-2"
			th:onclick="location.href= 'counselDelete?counselNumber=' + [[${counselInfo.counselNumber}]]">삭제</button>
		<button type="button"
			class="bg-blue-500 text-white font-bold py-2 px-4 rounded ml-2"
			th:onclick="location.href= 'counselUpdate?counselNumber=' + [[${counselInfo.counselNumber}]]">수정</button>
		<button type="button"
			class="bg-gray-500 text-white font-bold py-2 px-4 rounded ml-2"
			onclick="location.href='counselList'">목록</button>
	</div>
</div>

</html>
