<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/parent_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Child Information</title>
<style>
h5 {
	text-align: center;
}
</style>
</head>
<body>
	<div class="row">
		<div class="col-xl-6 grid-margin stretch-card flex-column">
			<h5 class="mb-2 text-titlecase mb-4">자녀 A</h5>
			<div class="row h-100">
				<div class="col-md-12 stretch-card">
					<div class="card">
						<div class="card-body">
							<div
								class="d-flex justify-content-between align-items-start flex-wrap">
								<div>
									<p>
										<strong>학생 이름:</strong> th:text="${emp.employeeId}"
									</p>
									<p>
										<strong>이메일:</strong> alice.doe@example.com
									</p>
									<p>
										<strong>주소:</strong> 123 Main St, City, Country
									</p>
									<p>
										<strong>전화번호:</strong> +1112223333
									</p>
									<p>
										<strong>생년월일:</strong> +1112223333
									</p>
									<p>
										<strong>학부모 비상연락처:</strong> +1112223333
									</p>
								</div>
								<div id="income-chart-legend"
									class="d-flex flex-wrap mt-1 mt-md-0"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-6 grid-margin stretch-card flex-column">
			<h5 class="mb-2 text-titlecase mb-4">자녀 B</h5>
			<div class="row h-100">
				<div class="col-md-12 stretch-card">
					<div class="card">
						<div class="card-body">
							<div
								class="d-flex justify-content-between align-items-start flex-wrap">
								<div>
									<p class="mb-3">Monthly Increase</p>
									<h3>67842</h3>
								</div>
								<div id="income-chart-legend"
									class="d-flex flex-wrap mt-1 mt-md-0"></div>
							</div>
							<canvas id="income-chart"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
