<html lang="ko" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/parent_layout}"
	layout:fragment="Content">
<head>
<link rel="stylesheet" th:href="@{/css/student/calendar.css}" />
<link rel="stylesheet" th:href="@{/css/student/lectureInfo.css}" />
<script src="js/attendance/lectureInfo.js"></script>
<script src="js/member/parentcalendar.js"></script>

</head>
<body>
	<div>
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide" th:each="child : ${session.parent}">
					<div class="slide-content">
						<div class="row">
							<div class="col-md-10" style="text-align: center;">
								<h3 class="subject-title fas fa-user">
									[[${child.name}]]（[[${#dates.format(child.birth,
									'yyyy-MM-dd')}]]）</h3>
							</div>
							<div class="col-md-2"></div>
						</div>
						<div class="subject-info">
							<div class="info-item row">
								<div class="col-md-6" style="text-align: justify;">
									<i></i>이메일 [[${child.email}]]
								</div>
								<div class="col-md-6" style="text-align: justify;">휴대폰번호
									[[${child.phone}]]</div>
							</div>
							<div class="info-item row">
								<div class="col-md-6" style="text-align: justify;">
									<i></i>주소 [[${child.address}]]
								</div>
								<div class="col-md-6" style="text-align: justify;">주소
									[[${child.address}]]</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="swiper-pagination"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>

		<div id="calendar"></div>
		
		<div class="content-wrapper">
		</div>
		<div class="modal fade" id="eventModal" tabindex="-1"
			aria-labelledby="eventModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"
						style="background-color: #27587E; display: flex; align-items: center; justify-content: flex-end; padding-right: 20px;">
						<button type="button" class="btn btn-dark"
							style="margin-right: 8px;">목록</button>
						<button type="button" class="btn btn-secondary"
							id="closeModalButton">취소</button>
					</div>
					<div class="modal-body">
						<!-- Swiper 시작 -->
						<div class="swiper">
							<div class="swiper-wrapper"></div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>



