<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/administrator_layout}"
	layout:fragment="content">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>PolluxUI Admin</title>

<!-- Include ConfigFragment -->
<th:block th:replace="common/configs/default_config :: ConfigFragment"></th:block>
</head>
<style>

</style>

<body>

<div style="display: grid; grid-template-columns: auto 1fr; align-items: center; gap: 20px; margin-top: 20px; margin-bottom: 20px;">
    <form name="memLi" id="memLi">
        <input type="hidden" id="pageNum" name="pageNum">
        
        <select name="auth" onchange="document.memLi.submit()" style="padding: 8px; font-size: 16px; border-radius: 5px; border: 1px solid #ccc;">
            <option value="">전체</option>
            <option value="ROLE_STUDENT" th:selected="${cri.auth=='ROLE_STUDENT'}">학생</option>
            <option value="ROLE_PARENT" th:selected="${cri.auth=='ROLE_PARENT'}">부모</option>
            <option value="ROLE_INSTRUCTOR" th:selected="${cri.auth=='ROLE_INSTRUCTOR'}">강사</option>
            <option value="ROLE_ADMIN" th:selected="${cri.auth=='ROLE_ADMIN'}">관리자</option>
        </select>
    </form>
    
    <h4 style="font-weight: 800; text-align: center; width: 300px; margin-left: 500px;">회원 조회</h4>
</div>

	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="table-responsive pt-3">
                        <table class="table project-orders-table text-center">
						<thead>
							<tr>
								<th>번호</th>
								<th>이름</th>
								<th>전화번호</th>
								<th>역할</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="member : ${memberList}">
								<tr
									th:onclick="infoClick([[${member.idNumber}]], [[${member.auth}]])">
									<td th:text="${member.idNumber}"></td>
									<td th:text="${member.name}"></td>
									<td th:text="${member.phone}"></td>
									<td th:text="${member.auth}"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
			
			

			
			
			<!-- 페이징 구현 -->
			<div class="row pagination-wrap mt-5">
			    <div class="col-md-12 text-center">
			        <nav aria-label="Page navigation">
			            <ul class="pagination justify-content-center">
			                <li class="page-item">
			                    <a th:if="${page.prev}" href="#" th:data-pagenum="${page.startPage - 1}" class="page-link" aria-label="Previous">
			                        <span aria-hidden="true">&laquo;</span>
			                        <span class="sr-only">Previous</span>
			                    </a>
			                </li>
			                <th:block th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}">
			                    <li class="page-item">
			                        <a th:class="${page.cri.pageNum == num ? 'page-link active' : 'page-link'}" href="#" th:data-pagenum="${num}">
			                            [[${num}]]
			                        </a>
			                    </li>
			                </th:block>
			                <li class="page-item">
			                    <a th:if="${page.next}" href="#" th:data-pagenum="${page.endPage + 1}" class="page-link" aria-label="Next">
			                        <span aria-hidden="true">&raquo;</span>
			                        <span class="sr-only">Next</span>
			                    </a>
			                </li>
			            </ul>
			        </nav>
			    </div>
			</div>


		</div>
		
		
		<div class="col-md-4">
			<div class="card">
				<div class="table-responsive pt-3">
				    <h4 style="font-weight: 800; text-align: center; margin-bottom: 30px; margin-top: 30px">회원 조회</h4>
				
					<table class="table project-orders-table">
						<tr>
							<th id="name-name">이름</th>
							<td id="name"></td>
						</tr>
						<tr>
							<th id="auth-name">신분</th>
							<td id="auth"></td>
						</tr>
						<tr>
							<th id="phone-name">전화번호</th>
							<td id="phone"></td>
						</tr>
						<tr>
							<th id="email-name">이메일</th>
							<td id="email"></td>
						</tr>
						<tr>
							<th id="address-name">주소</th>
							<td id="address"></td>
						</tr>
						<tr>
							<th id="birth-name">생일</th>
							<td id="birth"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:inline="javascript">

$(".pagination-wrap a").on("click", (e)=>{
	document.getElementById('pageNum').value = $(e.target).data("pagenum");
	document.memLi.submit();
})


	function infoClick(idNumber, auth) {
		$.ajax({
			type : 'GET',
			url : '/lms/admin/adminMemInfo',
			data : {
				idNumber : idNumber,
				auth : auth
			},
			success : function(response) {
				console.log("결과", response);
// 				const name = document.getElementById('name');
// 				name.innerText = response.name;
				Object.keys(response).forEach((key, idx) => {
					if (document.getElementById(key)){
					document.getElementById(key).innerText = response[key];
					}
				});
// 				response.address
// 				response.auth
// 				response.birth
// 				response.email
// 				response.name
// 				response.phone

			},
			error : function(xhr, status, error) {
				console.error('Error fetching member info:', error);
			}
		});
	}
</script>
</html>