<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/student_layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/student/calendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/student/lectureInfo.css}"/>
    <script src="js/attendance/lectureInfo.js"></script>
    <script src="js/attendance/calendar.js"></script>

</head>
<body>
    <div layout:fragment="content">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" th:each="lecture : ${lectureList}">
                    <div class="slide-content">
                        <h4 class="subject-title">[[${lecture.detailSubjectName}]]（[[${lecture.lectureLevel}]]）</h4>
                        <div class="subject-info">
                            <div class="info-item"><i class="fas fa-book"></i>[[${lecture.subjectName}]] </div>
                            <div class="info-item"><i class="fas fa-user"></i> [[${lecture.name}]] 교수</div>
                            <div class="info-item"><i class="fas fa-calendar-alt"></i>[[${lecture.weekday}]] [[${#strings.arraySplit(lecture.time, ',')[0]}]] : 00 ~ [[${#strings.arraySplit(lecture.time, ',')[1]}]] : 00</div>
                            <div class="info-item"><i class="fas fa-clock"></i> [[${#dates.format(lecture.begin, 'yyyy-MM-dd')}]] ~ [[${#dates.format(lecture.finish, 'yyyy-MM-dd')}]]</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div id="calendar">
        </div>

        <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #27587E; display: flex; align-items: center; justify-content: flex-end; padding-right: 20px;">
                        <button type="button" class="btn btn-dark" style="margin-right: 8px;">목록</button>
                        <button type="button" class="btn btn-secondary" id="closeModalButton">취소</button>
                    </div>
                    <div class="modal-body">
                        <!-- Swiper 시작 -->
                        <div class="swiper">
                            <div class="swiper-wrapper">

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



