<nav class="sidebar sidebar-offcanvas" id="sidebar"
	xmlns:th="https://www.thymeleaf.org"
	th:fragment="childSidebarFragment">
	<ul class="nav">
		<li class="nav-item">
			<h6 style="text-align: center; margin-top: 10px"></h6>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="collapse"
				href="#charts" aria-expanded="false">
				<i class="typcn typcn-chart-pie-outline menu-icon"></i>
				<span class="menu-title">강의</span>
				<i class="menu-arrow"></i>
			</a>
			<div id="charts" class="collapse"
			th:each="childd : ${childlecture}">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a th:href="@{/parent/ + ${childd.studentNumber}/${childd.lectureNumber}+'/task'}" class="nav-link">과제</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/parent/ + ${childd.studentNumber}/${childd.lectureNumber}+'/exam'}" class="nav-link">시험</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/parent}">
				<i class="fa-solid fa-house-chimney menu-icon" style="margin-right: 10px"></i>
				<span class="menu-title">HOME</span>
			</a>
		</li>
	</ul>
</nav>
