<nav class="sidebar sidebar-offcanvas" id="sidebar"
	xmlns:th="https://www.thymeleaf.org"
	th:fragment="childSidebarFragment" >
		<ul class="nav">
			<li class="nav-item">
				<h6 style="text-align: center; margin-top: 10px"></h6>
			</li>
			<li class="nav-item"><a class="nav-link" data-toggle="collapse"
				href="#charts" aria-expanded="false" aria-controls="charts"> <i
					class="typcn typcn-chart-pie-outline menu-icon"></i> <span
					class="menu-title">강의명</span> <i class="menu-arrow"></i>
			</a>
				<div class="collapse" id="charts">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"><a th:href="@{/parent/pay}"
							class="nav-link">출석현황</a></li>
					</ul>
				</div>
				<div class="collapse" id="charts">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"><a th:href="@{/parent/pay}"
							class="nav-link">과제</a></li>
					</ul>
				</div>
				<div class="collapse" id="charts">
					<ul class="nav flex-column sub-menu">
						<li class="nav-item"><a th:href="@{/parent/pay}"
							class="nav-link">시험</a></li>
					</ul>
				</div>
			</li>
			

			<li class="nav-item"><a class="nav-link" th:href="@{/parent}">
					<i class="fa-solid fa-house-chimney menu-icon"
					style="margin-right: 10px"></i> <span class="menu-title">HOME</span>
			</a>
			</li>
		</ul>
	</nav>