<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <script src=""></script>
    </head>
    <body>
        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="childSidebarFragment" style="margin-bottom: 28.992px">
            <ul class="nav">
                <li class="nav-item">
                    <h6 style="text-align: center; margin-top: 10px"></h6>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa-solid fa-calendar-check menu-icon" style="margin-right: 14px"></i>
                        <span class="menu-title">출석표</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                        <i class="fa-solid fa-folder-open menu-icon" style="margin-right: 10px"></i>
                        <span class="menu-title">시험 및 과제 현황</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                        <i class="fa-solid fa-circle-question menu-icon"></i>
                        <span class="menu-title">학습 QnA</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa-solid fa-pen-to-square menu-icon"></i>
                        <span class="menu-title">시험 성적 조회</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/parent}">
                        <i class="fa-solid fa-house-chimney menu-icon" style="margin-right: 10px"></i>
                        <span class="menu-title">HOME</span>
                    </a>
                </li>
            </ul>
        </nav>
    </body>
</html>