<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:fragment="instructorSidebarFragment">

<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item"><a class="nav-link" href="/lms/instructor">
				<i class="typcn typcn-device-desktop menu-icon"></i> <span
				class="menu-title">일정표</span>
		</a></li>
		<li class="nav-item"><a class="nav-link" data-toggle="collapse"
			href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
				<i class="typcn typcn-document-text menu-icon"></i> <span
				class="menu-title">진행중인 강의</span> <i class="menu-arrow"></i>
		</a>
			<div class="collapse" id="ui-basic">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item" th:each="lecture : ${lectureList}">
					    <a class="nav-link" th:href="@{'/instructor/' + ${lecture.lectureNumber}}">[[${lecture.lectureTitle}]] <span style="font-size: 10px;">([[${lecture.lectureLevelCode}]])</span></a>
					</li>
				</ul>
			</div></li>
		<li class="nav-item"><a class="nav-link" data-toggle="collapse"
			href="#form-elements" aria-expanded="false"
			aria-controls="form-elements"> <i
				class="typcn typcn-film menu-icon"></i> <span class="menu-title">시험
					출제</span> <i class="menu-arrow"></i>
		</a>
			<div class="collapse" id="form-elements">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/instructor/questionList}">문제 은행</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/instructor/paperList}">시험지</a></li>
				</ul>
			</div></li>
		<li class="nav-item"><a class="nav-link" data-toggle="collapse"
			href="#tables" aria-expanded="false" aria-controls="tables"> <i
				class="typcn typcn-th-small-outline menu-icon"></i> <span
				class="menu-title">내 정보 보기</span> <i class="menu-arrow"></i>
		</a>
			<div class="collapse" id="tables">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link"
						href="pages/tables/basic-table.html">정보 수정</a></li>
				</ul>
			</div></li>

	</ul>
</nav>
</html>